#welcometobloom {
    border: 2px solid #7eeacd;
    padding: 230px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #7eeacd;
}   

#aboutus {
  border: 2px solid #2984ef;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #2984ef;
} 
#team {
  border: 2px solid white;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
}   
#product {
  padding: 50px;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  background-image: url("../Images/pregnant.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}    

a {
        color: #42cef4;
        font: bold;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100%;
  background-color: white;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
